<section class="bgBody">
<h1>
  <nav class="display-6" >

  <nav class="nav">
    <a class="nav-link" routerLink="Home">Home <img class="Gif" src="https://media.tenor.com/93Dd5zxeydEAAAAM/chuck-thumb-thumbs-up.gif" width="40" height="40" alt="Chuck Thumb Thumbs Up GIF - Chuck Thumb Thumbs Up Dodgeball GIFs"></a>
    <a class="nav-link active" aria-current="page" routerLink="Joke">Jokes</a>
    <a class="nav-link" routerLink="Info">Info</a>
    
  </nav>

  </nav>
</h1>

<router-outlet></router-outlet>





