<section>
<div class="container d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img src="../assets/ChuckNorrisWeb.png" class="card-img-top" alt="MadChuck">
      <div class="card-body">
        <p class="card-text">Chuck Norris facts are satirical factoids about American martial artist and actor Chuck Norris that have become an Internet phenomenon widespread in popular culture.</p>
      </div>
    </div>
    </div>
    
    
    <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Come on try it</button>
    
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Background</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small">
        Chuck Norris facts originally appeared on the Internet in early 2005. Initially distributed in the Something Awful forums, the "facts" centered on Vin Diesel, in response to his film The Pacifier. After a few months, forum members chose Chuck Norris to be the new subject. Conan O'Brien's Chuck Norris jokes on Late Night with Conan O'Brien (which generally center on Walker, Texas Ranger) have been seen as an inspiration for the fad. The exaggerated style of these claims is similar to a recurring Saturday Night Live sketch called "Bill Brasky". Due to the popularity of this phenomenon, similar jokes have been created for various other celebrities, as well as fictional characters.
      </div>
    </div>
</section>
    
    